body {
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 0;
  margin:0;
  font-size: 1.5em;
  color: #2C3A47;
}

header{
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
  -webkit-flex-direction: column; /* Safari */
  flex-direction:         column;
  justify-content: center;
  min-height: 100vh;
  background-color: #f1f2f6;
}
  header .name{
    font-family: 'Amatic SC', cursive;
    color: #3B3B98;
  }
  header h1{
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 1vh;
  }
  header p{
    margin-top: 1vh;
    margin-bottom: 1vh;
    text-transform: uppercase;
  }
  header button{
    margin-top: 2vh;
    margin-bottom: 1vh;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Amatic SC', cursive;
    background: none;
    border: none;
    padding: 0.15em 0.3em;
    cursor: pointer;
    transition: all 1s;
    border-bottom: 1.5px solid #3B3B98;
    letter-spacing: 1px;
    outline: none;
  }
    header button:hover{
      background-color: #3B3B98;
      color: #f1f2f6;
    }

section{
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
  section h1{
    font-size: 2.5em;
    margin-top: 0;
    margin-bottom: 4vh;
    font-weight: normal;
    text-align: center;
  }

section.portfolio{
  background-color: #3B3B98;
  color: #ffffff;
}
  .portfolio-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .portfolio-item{
    padding: 1em 0.5em;
    margin: 1em 0;
    flex-basis: 600px;
    border: 2px solid rgba(225, 226, 230, .1);
    border-radius: 2px;
    color: rgba(255, 255, 255, 1);
  }
    .portfolio-item > .portfolio-header{
      display: flex;
      justify-content: space-between;
    }
    .portfolio-item > .portfolio-header > .icon-container, .portfolio-item > .portfolio-header > .icon-container span{
      display: flex;
      align-content: center;
      align-items: center;
    }
    .portfolio-item  .portfolio-header  h2{
      margin-top: 0;
      margin-bottom: 0;
      display: inline-block;
      font-weight: normal;
      letter-spacing: 1px;
      font-size: 1.5em;
      cursor: pointer;
    }
    .portfolio-item  .portfolio-body  p{
      font-size: 0.7em;
      letter-spacing: 1.5px;
    }
    .portfolio-item  .portfolio-body button{
      color: rgba(225, 226, 230, .9);
      margin-top: 2vh;
      margin-bottom: 1vh;
      font-size: 1em;
      text-transform: uppercase;
      font-weight: bold;
      font-family: 'Amatic SC', cursive;
      background: none;
      border: none;
      padding: 0.15em 0.3em;
      margin-left: 0;
      margin-right: 0;
      cursor: pointer;
      transition: all 1s;
      border-bottom: 1.5px solid rgba(225, 226, 230, .9);
      letter-spacing: 1px;
      outline: none;
    }
      .portfolio-item  .portfolio-body button:hover{
        background-color: rgba(225, 226, 230, 1);
        color: #3B3B98;
      }
    .portfolio-item > .portfolio-header > span{
      float:right;
    }

section.contact{

}
  section.contact .container-half{
    margin:0;
    width: 50%;
    float: left;
  }
  section.contact .container-half.form{
        text-align: center;
  }
  section.contact .container-half form{
    text-align: center;
  }
    section.contact .container-half form input, section.contact .container-half form textarea{
      width: 75%;
      margin-top: 1em;
      margin-bottom: 1em;
      font-size: 0.75em;
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom: 2px solid rgba(59, 59, 152, .3);
      transition: all 1s;
      outline: none;
      font-family: 'Open Sans Condensed', sans-serif;
      letter-spacing: 1px;
    }
      section.contact .container-half form input:focus, section.contact .container-half form textarea:focus{
        border-bottom: 1.5px solid rgba(59, 59, 152, 1);
      }
    section.contact .container-half form label{
      display: none;
    }
    section.contact .container-half form button{
      margin-top: 2vh;
      margin-bottom: 1vh;
      font-size: 1.25em;
      text-transform: uppercase;
      font-weight: bold;
      font-family: 'Amatic SC', cursive;
      background: none;
      border: none;
      padding: 0.15em 0.3em;
      cursor: pointer;
      transition: all 1s;
      border-bottom: 1.5px solid rgba(59, 59, 152, .4);
      letter-spacing: 1px;
      outline: none;
    }
      section.contact .container-half form button:hover{
        background-color: #3B3B98;
        color: #f1f2f6;
      }

footer{
  text-align: center;
}
